List of Bookmarks
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= "<a href='#{bookmark.url}'>#{bookmark.title}</a><br>" %></li>
  <% end %>
</ul>
<form action='/bookmarks/new', method='get'>
  <input type='submit' value='Add new bookmark'>
</form>
